<footer class="footer">
	<div class="container">
		<section class="Contact">
			<h2>Contato</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="Nas redes">
			<h2>Follow</h2>
			<ul>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
				<li><a title="Mastodon" href="{{ site.mastodon }}" target="_blank">Mastodon</a></li>
			</ul>
		</section>
	</div>
</footer>
